<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission To Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission To Mars</h1>
      </br>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Mars Data</a></p>
    </div>
  </div>

  <div class="container" style="margin-top: 30px;">
    <div class="row">
      <div class="col">
        <h2><strong>Latest Mars News</strong></h2>
        <h5> {{ mars.title }}</h3>
        <h5> {{ mars.paragraph }}</h3>
      </div> 
    </div>
  </div>

  <div class="container" style="margin-top: 30px;">
    <div class="row">
       <div class="col-8">
          <h4><strong>Featured Image</strong></h4>
          <img src="{{ mars.featured_image}}" style="max-width: 50%; max-height: auto;" alt="Featured Image"> 
        </div> 
        <div class="col-4">
          <h4 class="text-center"><strong>Mars Facts</strong></h4>
          {{ mars.facts | safe }}
        </div>
    </div>
  </div>  
  <div class="container" style="margin-top: 30px;">
    <h3 class="text-center"><strong>Mars Hemispheres</strong></h3>
    <hr>
    <div class="row">
      <div class="col">
        <img src="{{ mars.cerberus }}" style="max-width:100%; max-height: auto;" alt="Cerberus Hemisphere">
        <h5 class="text-center">Cerberus Hemisphere Enhanced</h5>
      </div>
      <div class="col">
        <img src="{{ mars.schiaparelli }}" style="max-width:100%; max-height: auto;" alt="Schiaparelli Hemisphere">
        <h5 class="text-center">Schiaparelli Hemisphere Enhanced</h5>
      </div>
    </div>    
  </div>      
  <p></p>
  <div class="container" style="margin-top: 30px;">
    <div class="row">
      <div class="col">
        <img src="{{ mars.syrtis_major }}" style="max-width:100%; max-height: auto;" alt="Syrtis Major Hemisphere">
        <h5 class="text-center">Syrtis Major Hemisphere Enhanced</h5>
      </div>
      <div class="col">
        <img src="{{ mars.valles_marineris }}" style="max-width:100%; max-height: auto;" alt="Valles Marineris Hemisphere">
        <h5 class="text-center">Valles Marineris Hemisphere Enhanced</h5>
      </div>
    </div>
  </div>
  <p></p>
  <p></p>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
